:root {
	--color-text: #FFFFFF;
	--color-background: #0F0F0F;
	--color-accent: rgba(255, 185, 102, 1);
	--color-accent-light: rgba(255, 185, 102, 0.1);
	--color-accent-lighter: rgba(212, 186, 94, 0.09);
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

h1, h2, h3, h4 {
	font-weight: 700;
	line-height: 1.35;
}

h1 {
	font-size: 2.25rem;
	text-align: center;
	margin-bottom: 3.25rem;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

a {
	color: var(--color-text);
	text-decoration: none;
	opacity: 1;
	transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
}

p {
	opacity: 0.8;
}

a:hover,
a:focus {
	opacity: 0.8;
}

.container {
	margin: 0 auto;
	max-width: 75rem;
	padding: 2rem;
}

.nav {
	margin-bottom: 2rem;
}

.nav__mobile-title {
	font-size: 1.25rem;
	font-weight: 700;
	text-decoration: none;
	color: var(--color-text);
}

.nav__links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__link-icon {
	width: 1.5rem;
}

.desktop-only {
	display: none;
}

.mobile-hero {
	position: relative;
	width: 100%;
	height: 12rem;
	margin-bottom: 2.5rem;
}

.mobile-hero__logo {
	font-size: 5.375rem;
	transform: rotate(-10deg) translate(-50%, -50%);
	transform-origin: top left;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	text-align: center;
}

.card {
	--svg-width: 1rem;
	--svg-margin: 0.8rem;

	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	background-color: var(--color-accent-lighter);
	padding: 1.5rem;
	border-radius: 0.5rem;
}

.card__title {
	display: flex;
}

.card__title svg {
	margin-right: var(--svg-margin);
	width: var(svg-width);
	height: 1.66666666rem;
	flex: none;
	transform: translateY(0.05rem);
}

.card__title h2 {
	margin: 0;
	font-weight: 500;
	color: var(--color-accent);
}

.card__countdown {
	margin: .25rem 0 1.625rem calc(var(--svg-width) + var(--svg-margin));
}

.btn {
	display: inline-block;
	margin: 0 auto;
	width: fit-content;
	background-color: var(--color-accent-light);
	color: var(--color-accent);
	padding: .75rem 1.25rem;
	text-decoration: none;
	font-weight: 500;
	border-radius: .25rem;
}

.content__section {
	padding: 3rem 0;
}

.background__link {
	display: block;
	text-align: center;
	margin-top: 3rem;
	white-space: break-spaces;
}

.footer {
	text-align: center;
	padding: 1rem 0.5rem;
}

.copyright {
	display: block;
	margin-bottom: 1.5rem;
	font-weight: 400;
	opacity: 0.4;
}

.footer__nav {
	display: flex;
	justify-content: space-around;
}

.sothebys {
	display: flex;
	margin-top: 3.5rem;
	align-items: flex-end;
	justify-content: center;
}

.sothebys__text {
	display: inline-block;
	margin-right: 0.5rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	opacity: 0.5;
}

.sothebys__img {
	width: 7.125rem;
}

@media screen and (min-width: 52em) {
	.desktop-only {
		display: initial;
	}

	.mobile-only {
		display: none;
	}

	.content__left {
		
	}

	.nav {
		display: flex;
		justify-content: space-between;
	}

	.nav__links {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav__link {
		display: flex;
		align-items: center;
		margin-left: 3rem;
	}
	
	.nav__link-icon {
		width: 1.5rem;
		margin-right: 0.35rem;
	}

	.content {
		display: grid;
		margin-top: 6rem;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	h1 {
		text-align: left;
		margin-bottom: 1.5rem;
	}

	.card {
		display: block;
	}
	
	.card__title h2 {
		font-weight: 700;
	}
	
	.card__countdown {
		margin-left: 0;
	}

	.background__link {
		text-align: left;
	}

	.footer {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}

	.copyright {
		margin: 0;
	}
	
	.footer__nav {
		display: flex;
		justify-content: space-around;
		width: 20rem;
	}
}
